.horizontal-card {
  display: flex;
  gap: 20px;
  background-color: var(--ternary-color);
  box-shadow: 1px 1px 1px white;
  flex-direction: column;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.product-info{

  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
 padding-bottom: 0.3rem;
 gap: 0.2rem;
 height: 10rem;
}

.product-info button:hover{
color: var(--hover-color);
background-color: var(--off-white);
}

.price{
  text-align: center;
  font-size: 3ch;
  font-weight: 600;
  color: var(--black);
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
 
 
}.horizontal-card {
  display: flex;
  gap: 20px;
  background-color: var(--ternary-color);
  box-shadow: 1px 1px 1px white;
  flex-direction: column;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.product-info{

  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
 padding-bottom: 0.3rem;
 gap: 0.2rem;
 height: 10rem;
}

.product-info button:hover{
color: var(--hover-color);
background-color: var(--off-white);
}

.price{
  text-align: center;
  font-size: 3ch;
  font-weight: 600;
  color: var(--black);
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
 
 
}
.small-items{
/* margin: 80px auto; */
background-color: rgb(230, 224, 227);
padding-right: 5px;
height: 150%;
/* width: 60%; */
display: flex;
column-gap: 35px;


}

.object-table{
/* width: 100%; */
height: 80%;

}
.card-image{
display: flex;
flex-wrap: wrap;
column-gap: 480px;
height: 180%;


}
.card-image img{
height: 450px;
width: 500px;
}
.input{
display: flex;
column-gap: 20px;
}
.main-content{
width: 30%;
}
.secondary-cart{
display: flex;
column-gap: 150px;
}
.place-btn{
background-size: 100%;
width: 250px;
/* border-radius: 50%; */
position: absolute;
top: 205%;
left: 50%;
background-color: blue;
color: white;
text-align: center;
font-size: 20px;
}