*{
  --white-color: #fff;
}
.container {
  position: relative;
  text-align: center;
  color: var(--white-color);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.featured-heading{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

nav{
background: #0082e6;
height: 80px;
width: 100%; 
}
label.logo{
color: #fff;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav .main-list{
float: right;
margin-right: 20px;
}
nav .main-list li{
display: inline-block;
line-height: 30px;
top: 2px;
}
nav .main-list li a{
color: #fff;
font-size: 17px;
text-transform: uppercase;
}
a.active,a:hover{
background: #1b9bff;
transition: .5s;
}
.checkbtn{
font-size: 30px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
/**/
@media (max-width: 480px){
label.logo{
  font-size: 30px;
  padding-left: 50px;
}
nav  li a{
  font-size: 16px;
}
}
@media (max-width: 858px){
.checkbtn{
  display: block;
}
.main-list{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2c3e50;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav .main-list li{
  display: block;
}
nav .main-list a{
  font-size: 20px;
}
a:hover,a.active{
  background: none;
  color: #0082e6;
}
#check:checked ~ .main-list{
  left: 0;
}
}

#sidebarMenu{
  height: 200%;
  position: fixed;
  left: 0;
  top: 0;
  width: 120px;
  margin-top: 60px;
  background: #2e86de;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}
#openSidebarMenu:checked ~ #sidebarMenu{
  transform: translateX(0px);

}
.menu{
   list-style: none;
   padding: 0;
   margin: 0;
}
.menu li{
   color: #fff;
   border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.menu li a{
   color: #fff;
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   padding: 20px;
}
.sidebarIcontoggle{
   width: 22px;
   height: 22px;
   z-index: 20;
   position: absolute;
   top: 22px;
   left: 15px;
   cursor: pointer;
   
}
.spinner{
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}
.spinner.middle,
.spinner.bottom{
  margin-top: 3px;
}
